<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="../js/login.js" defer type="module"></script>
    <title>Login</title>
</head>

<body>

    <% let erroValidacao={"email":"", "password" :"" }; let msgErro={ "email" :"", "password" :"" }; if(erros) {
        erros.errors.forEach(function(erro) { if (erro.path=="email" ) { erroValidacao.email="erro" ,
        msgErro.email=erro.msg } if (erro.path=="password" ) { erroValidacao.password="erro" , msgErro.password=erro.msg
        } }) }; %>
        
            <main>
                <section class="container">
                    <section class="form-image">
                        <img src="../imgs/svg2.svg" alt="Login Illustration">
                    </section>
                    <section class="form">

                        <form method="post" action="/login" id="loginForm">

                            <section class="form-header">
                                <section class="title">
                                    <h1>Entrar</h1>
                                </section>
                            </section>

                            <section class="input-group">
                                <section class="input-box">
                                    <label for="email">E-mail</label>
                                    <input id="email" type="email" name="email" placeholder="Digite seu e-mail"
                                        value="<%= valores.email  %>" class="<%= erroValidacao.email %>" required>
                                    <span>
                                        <%= msgErro.email %>
                                    </span><br>
                                </section>

                                <section class="input-box">
                                    <label for="password">Senha</label>
                                    <section class="password-wrapper">
                                        <input id="password" type="password" name="password"
                                            placeholder="Digite sua senha" value="<%= valores.password  %>"
                                            class="<%= erroValidacao.password %>" required>
                                        <span>
                                            <%= msgErro.password %>
                                        </span><br>
                                        <button type="button" class="password-toggle" id="togglePassword">
                                            <i class="bx bx-hide"></i>
                                        </button>
                                    </section>
                                </section>
                            </section>



                        </form>
                        <a href="/home2">
                            <section class="continue-button">
                                <button>Entrar</button>
                            </section>
                        </a>

                        <p class="texto-secundario">Não tem conta? <a href="/cadastro">Cadastre-se aqui</a></p>


                    </section>
                </section>
            </main>
            <%- include('../partials/footer.ejs') %>
</body>

</html>