<!DOCTYPE html>
<html lang="pte">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Fenix - Login</title>
</head>

<body>
    <header>

    </header>
    <main>
        <% let erroValidacao={"email":"", "senha" :""}; let msgErro={"email":"","senha":"" }; if(erros) {
            erros.errors.forEach(function(erro) { if (erro.path=="email" ) { erroValidacao.email="erro" ,
            msgErro.email=erro.msg } if (erro.path=="senha" ) { erroValidacao.senha="erro" , msgErro.senha=erro.msg } })
            }; %>
            <form method="post" action="/login">
                <section class="box1">
                    <label for="email">Email: </label>
                    <input type="text" name="email" id="email" value="<%= valores.email %>"
                        class="<%= erroValidacao.email %>" placeholder="Digite seu email:"><br>
                    <span>
                        <%=msgErro.email %>
                    </span><br>
                </section><br>

                <section class="box2">
                    <label for="senha">Senha: </label>
                    <input type="text" name="senha" id="senha" value="<%= valores.senha %>"
                        class="<%= erroValidacao.senha %>" placeholder="Digite sua senha:"><br>
                    <span>
                        <%=msgErro.senha%>
                    </span><br>
                </section>

                <input type="submit" value="Entrar">
            </form>

    </main>
    <footer>

    </footer>

</body>

</html>